XML_TEMA3/Erik_Mozos_Moll_UD3_pack6/6_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="subhasta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="objecte" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="propietari" type="xs:string"/>
              <xs:element name="preu_sortida" type="xs:decimal"/>
              <xs:element name="preu_minim" type="xs:decimal" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>