XML_TEMA3/Erik_Mozos_Moll_XML/examenXML_Erik_Mozos/lmgsi_examen_ud3/ex6.dtd

<!ELEMENT concesionario (modelo+)>
<!ELEMENT modelo (#PCDATA|motor| potencia|consumo_medio)*>
<!ELEMENT motor (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT consumo_medio (#PCDATA | velocidad_km)*>
<!ATTLIST modelo id ID #REQUIRED>
<!ATTLIST modelo modelos_relacionados CDATA #IMPLIED>
<!ATTLIST motor modelos_relacionados CDATA #IMPLIED>
<!ATTLIST consumo_medio velocidad_km CDATA #IMPLIED>
