XML_TEMA3/Erik_Mozos_Moll_UD3_pack5/5_2/5_2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="elementlogic">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="portaTancada" type="xs:boolean" default="false" />

                <xs:element name="finestraOberta" type="xs:boolean" fixed="true" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>