XML_TEMA3/Erik_Mozos_Moll_UD3_pack5/5_4/5_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="preus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="preu" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definició del tipus de dada PreuType amb les restriccions -->
  <xs:simpleType name="PreuType">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>